*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.abc{
    text-align: center;
    margin:10px;
    padding:10px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    background-color:black;
    animation: bounceIn 5s;
}
@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

body{
    width:100%;
    height:100vh;
    display:grid;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom right,rgb(190, 56, 78),white);
    
}
.calculator{
    border:2px solid whitesmoke;
    padding:20px;
    border-radius: 15%;
    background:black;
    box-shadow: 0px 3px 15px whitesmoke;
}
input{
    width:320px;
    border:none;
    padding:15px;
    margin:10px;
    background: transparent;
    box-shadow:5px 5px 15px black,5px 5px 12px white;
    font-size:30px;
    text-align: right;
    cursor:ponter;
    background-color:white;
}
input::placeholder{
    color:black;
}
button{
    border:none;
    width:50px;
    height:50px;
    margin:15px;
    border-radius: 50%;
    color:black;
    font-size: 20px;
    box-shadow: -5px -5px 7px grey;
    cursor:pointer;
}

.eqn{
    background-color:chartreuse;
    color:black;
}
.op{
    background-color: chocolate;
}
button:active{
    background-color:gold;
    transform:translateY(4px);
}
.ac{
    background-color: red;
}
